.left, .right {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0px;
  padding: 10px 10px;
}

.left {
  flex:0 0 600px;
}
.right {
  flex: 1 1 auto;
}


.head {
  background-color: #F8F9FA;
  padding: 0px 10px;
}

.infos {
  background-color: #F8F9FA;
  padding: 0px 10px;
  margin-top: 15px;
}

.book {
  background-color: #F8F9FA;
  padding: 0px 10px;

}

.details {
  background-color: #F8F9FA;
  padding: 0px 10px;
  margin-top: 15px;
}

.share {
  background-color: #F8F9FA;
  padding: 0px 10px;
  margin-top: 15px;
}

.btn-primary {
  width: 100%;
}


